server {
    listen 80 default_server;
    server_name {{public_hostname}};
    
    location / {
        rewrite ^ https://$host$request_uri? permanent;
    }
}
server {
    listen       443 ssl;
    server_name  {{public_hostname}};

    ssl_certificate      /etc/letsencrypt/live/{{public_hostname}}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{public_hostname}}/privkey.pem;

    ssl_session_cache    shared:SSL:1m;
    ssl_session_timeout  5m;

    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers  on;

    location / {
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        proxy_pass          http://localhost:{{nginx_reverse_proxy_original_port}};
        proxy_read_timeout  90;
    }
}